<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  
  IgnorableNamespaces="uap mp uap3 rescap">

  <Identity
    Name="abb36819-8a63-4cc0-9dd5-ce3174128c3a"
    Publisher="CN=Andriy"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="abb36819-8a63-4cc0-9dd5-ce3174128c3a" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>IPTV</DisplayName>
    <PublisherDisplayName>Andriy</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="IPTV.App">
      <uap:VisualElements
        DisplayName="IPTV"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="IPTV"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/></uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="iptv">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="video/m3u8">.m3u8</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>IPTV</uap:DisplayName>
            <uap:InfoTip>IPTV File</uap:InfoTip>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:Logo>Assets\miniLogo44x44.png</uap:Logo>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="confirmAppClose" />
    <uap3:Capability Name="backgroundMediaPlayback"/>
    <uap:Capability Name="videosLibrary"/>
  </Capabilities>

</Package>